<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fengmaster.lifegameserver.mapper.PlayerMapper">

    <resultMap id="BaseResultMap" type="com.fengmaster.lifegameserver.model.po.Player">
        <result column="uid" jdbcType="INTEGER" property="uid"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="desc" jdbcType="VARCHAR" property="desc"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="lifeCoin" jdbcType="INTEGER" property="lifeCoin"/>
        <result column="expBarUid" jdbcType="VARCHAR" property="expBarUid"/>

    </resultMap>

    <insert id="insert" parameterType="com.fengmaster.lifegameserver.model.po.Player">
        insert into lifegame.player(uid,email,name,desc,title,lifeCoin,expBarUid) values (#{uid},#{email},#{name},#{desc},#{title},#{lifeCoin},#{expBarUid})
    </insert>

</mapper>